@tailwind base;
@tailwind components;
@tailwind utilities;

/* General reset for body, html, and root */
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.font-sans {
  font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.harmony-gradient {
  background: linear-gradient(90deg, #fac7a7 0%, #ff8b8b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.brand-gradient {
  background: linear-gradient(90deg, rgba(255, 140, 0, 1) 0%, rgba(255, 203, 112, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.website-gradient {
  background: linear-gradient(90deg, rgba(0, 255, 255, 1) 0%, rgba(0, 123, 255, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-off-white {
  color: #d1d5db; /* Tailwind's 'coolGray-200' color */
}

.text-gray-600 {
  color: #4c4c4c; /* The color for "Welcome to" */
}

.border-launch-green {
  border-color: #02d28f; /* Border color for Launch button */
}

.text-launch-green {
  color: #02d28f; /* Text color for Launch button */
}

.hover\:bg-launch-green:hover {
  background-color: #02d28f; /* Hover background color for Launch button */
}

.button {
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.05); /* Light shadow all around */
}

.button:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.2); /* Light shadow all around */
}

.button:active {
  transform: scale(0.95);
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.15); /* Light shadow all around */
}

/* Generate Button Styles */
.generate-button {
  background: linear-gradient(90deg, rgba(250, 199, 167, 0.8) 0%, rgba(255, 139, 139, 0.8) 100%);
  color: #2c2c2c;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.1); /* Light shadow all around */
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background 0.3s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'SF Pro Display', sans-serif;
  font-weight: bolder;
}

/* Hover effect for Generate button */
.generate-button:hover {
  background: linear-gradient(90deg, #fac7a7 0%, #ff8b8b 100%);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.2); /* Light shadow all around */
}

/* Click animation effect for Generate button */
.generate-button:active {
  transform: translateY(2px);
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.15); /* Light shadow all around */
}

/* Back Button Styles */
.back-button {
  background-color: #04384a;
  color: #d1d5db; /* Match the text color to the sidebar text color */
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 0 0 4px #ffffff0d; /* Light shadow all around */
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  border: 1px solid #1c1c1c; /* Add black-gray border with less opacity */
}

.back-button:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1); /* Light shadow all around */
  color: #ffffff;
}

.back-button:active {
  transform: translateY(2px);
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.15); /* Light shadow all around */
}

/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  background-color: #07252d; /* Matching the sidebar background color */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between; /* Adjust navbar alignment */
    padding: 0 10px; /* Adjust padding for smaller screens */
  }
}

/* Responsive Design for Text and Containers */
.harmony-text-3d {
  width: 600px; /* Adjusted width */
  height: 400px; /* Adjusted height */
  position: relative;
}

.harmony-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.harmony-canvas {
  width: 100%;
  height: 100%;
  max-width: 800px; /* Set a maximum width for the canvas */
  max-height: 600px; /* Set a maximum height for the canvas */
}

.custom-shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); /* Reduced the blur radius and opacity */
  border-radius: 25px; /* Ensure the border-radius matches the parent container */
}

.vertical-spacing {
  margin-bottom: 5px; /* Adjust the value as needed */
}

.copy-success {
  position: fixed;
  top: 100px;
  left: 59%;
  transform: translateX(-50%);
  background-color: #07252d;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: opacity 0.3s;
  max-width: 13%;
}

.no-select {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
}

.svg-drop-shadow {
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.4));
}

@media (max-width: 1024px) {
  .harmony-text-3d {
    width: 90%; /* Adjust width for smaller screens */
    height: auto; /* Maintain aspect ratio */
  }
}

@media (max-width: 768px) {
  .harmony-text-3d {
    width: 80%; /* Adjust width for tablets */
    height: auto; /* Maintain aspect ratio */
  }
  .generate-button, .back-button {
    padding: 0.4rem 0.8rem; /* Adjust button padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .harmony-text-3d {
    width: 70%; /* Reduce the size of the 3D text */
    height: auto; /* Maintain aspect ratio */
  }
  .generate-button, .back-button {
    font-size: 0.9rem; /* Adjust font size for smaller buttons */
    padding: 0.3rem 0.6rem; /* Adjust button padding */
  }
}

@media (max-width: 320px) {
  .harmony-text-3d {
    width: 60%; /* Further reduce the 3D text size */
    height: auto; /* Maintain aspect ratio */
  }
  .generate-button, .back-button {
    font-size: 0.8rem; /* Further adjust font size */
    padding: 0.2rem 0.4rem; /* Adjust padding */
  }
  .harmony-container {
    flex-direction: column; /* Stack elements vertically */
  }
}

@media (max-width: 120px) {
  .harmony-text-3d {
    width: 50%; /* Further reduce 3D text size */
    height: auto; /* Maintain aspect ratio */
  }
}
